<a href="https://colab.research.google.com/github/mohansaidinesh/FML/blob/main/50_startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multiple LinearRegression on 50_startups Dataset**

Import all libraries need to fit and predict the data

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

read the CSV file using pandas

In [32]:
data=pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

The head method is used to display the first five rows

Now remove the label data from the input data

In [33]:
x = data.drop('Profit', axis=1).values
y = data['Profit'].values
X=data.select_dtypes(include=np.number)

Get the size of both input and label data

In [34]:
X.shape , y.shape

((50, 4), (50,))

Now , X contains the data except the label data and Y contains the labeled data

Now split the data into training data and testing data in that 20% of data comes under training data and remaining 80% of data comes under the training data

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

After spliting of data find the shapes of train data as well as test data

In [36]:
X_train.shape, X_test.shape

((40, 4), (10, 4))

Now fit the LinearRegression model

In [37]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Now pass the X_train into the model so it display the y_predict values and find the errors.

In [38]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.3960743672214448e-11
MSE = 3.8985022269624195e-22
RMSE = 1.974462515967933e-11
R_2 = 1.0

Now pass the X_test into the model and we get predict values then find the errors

In [39]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 1.3824319466948509e-11
MSE = 2.594038400966295e-22
RMSE = 1.6106018753764987e-11
R_2 = 1.0

**CONCLUSION :** We can say that testing data best fits for the LinearRegression model that we trained