<a href="https://colab.research.google.com/github/mohansaidinesh/Machine-Learning/blob/main/Ridge_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cross Validate the model for 50_STARTUP dataset using ridge regression**

Import all libraries need to fit and predict the data

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

read the CSV file using pandas

The head method is used to display the first five rows

In [18]:
data = pd.read_csv("/content/50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

Now remove the label data from the input data

In [19]:
x = data.drop('Profit', axis=1).values
y = data['Profit'].values
X=data.select_dtypes(include=np.number)

Now split the data into training data and testing data in that 20% of data comes under training data and remaining 80% of data comes under the training data

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Fitting a Ridge regression model

In [21]:
reg = Ridge(alpha = 0.1)
reg.fit(X_train, y_train)

Ridge(alpha=0.1)

Evaluating the model on training data only

In [22]:
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 2.0643142306653317e-07
MSE = 7.821859107736086e-14
RMSE = 2.796758678852376e-07
R_2 = 1.0

Evaluating the model on training data only

In [23]:
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 2.1838422981090844e-07
MSE = 7.923741335670685e-14
RMSE = 2.814914090282452e-07
R_2 = 1.0

CONCLUSION : We can say that testing data fits for the Regression model using ridge regression.